.nav-higher {
  padding-top: 20px;
  padding-bottom: 20px
}
.logo-wider {
  width: 170px;
}
.card-background {
  background-color: #FF9F19;
  border: 0px;
  border-radius: 0;
}
.card-body-background {
  padding: 50px;
  margin: 10px;
  border: 2px dashed #CC831C;
  background-color: #E9931A;
}
.small-img {
  width: 100px;
}
.copyright-pad {
  padding-left: 20px;
}
.p-underline {
  text-decoration: underline;
}
.a-choose-file {
  text-decoration: underline;
  font-size: 1.5rem;
}
